@page
@using MyShop.Core.Convertors
@model MyShop.Web.Pages.Admin.User.IndexModel

@{
    ViewData["Title"] = "لیست کاربران ";
    Layout = "Shared/_AdminLayout";
}

<style>
    .checkBox {
    }
</style>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                لیست  کاربران
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="x_content">
            <a asp-page="CreateUser" class="btn btn-outline btn-success">افزودن کاربر جدید</a>
            <button type="button" id="delete" class="btn btn-danger">حذف</button>

            <div class="table-responsive">
                @{
                    int rowCount = 1;
                }
                <table id="myTable" class="table table-striped jambo_table">
                    <thead>
                        <tr>
                            <th>
                                <input type="checkbox" id="checkAll" />
                            </th>
                            <th></th>
                            <th class="column-title">نام </th>
                            <th class="column-title">نام خانوادگی </th>
                            <th class="column-title">استان</th>
                            <th class="column-title">شهر</th>
                            <th class="column-title">موبایل</th>
                            <th class="column-title">ایمیل</th>
                            <th class="column-title">آدرس</th>
                            <th class="column-title">تاریخ ثبت نام</th>
                            <th class="column-title no-link last">
                                <span class="nobr">عملیات</span>
                            </th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr @*class="even pointer"*@>

                                <td>
                                    <input type="checkbox" class="checkBox" value="@user.UserId" />
                                </td>
                                <td>
                                    @rowCount
                                </td>
                                <td class=" ">
                                    @user.FirstName
                                </td>
                                <td class=" ">
                                    @user.LastName
                                </td>
                                <td class=" ">
                                    @user.Province
                                </td>
                                <td class=" ">
                                    @user.City
                                </td>
                                <td class=" ">
                                    @user.Mobile
                                </td>
                                <td class=" ">
                                    @user.Email
                                </td>
                                <td class=" ">
                                    @user.Address
                                </td>
                                <td>
                                    @user.CreateDate.ToShamsi()
                                </td>
                                <td class=" last">
                                    <a href="/Admin/User/EditUser/@user.UserId" class="btn btn-round btn-warning">ویرایش</a>
                                    @* <a href="/Admin/Agent/ShowAgentDocuments/@agent.AgentId" class="btn btn-round btn-info">مدارک</a>*@
                                    <a href="/Admin/User/ShowUserDocuments/@user.UserId" class="btn btn-round btn-info">مدارک</a>
                                </td>
                            </tr>
                            rowCount++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>

    $(document).ready(function() {
        $("#myTable").DataTable();
    });
</script>

<script>
    $("#checkAll").click(function() {
        $(".checkBox").prop('checked',
            $(this).prop('checked'));
    });

    $("#delete").click(function() {
        var selectedIDs = new Array();

        $('input:checkbox.checkBox').each(function() {
            if ($(this).prop('checked')) {
                selectedIDs.push($(this).val());
            }
        });

        $.ajax({
            type: "POST",
            url: "/Home/DeleteUser",
            data: { "userId": selectedIDs },

            success: function(response) {
                window.location.href = "/Admin/User";
            },
            failure: function(response) {
                alert(response.responseText);
            },
            error: function(response) {
                alert(response.responseText);
            }

        });

    });

</script>

}
